$primaryColor: #790F0F;
$primaryDarkColor: #220606;
$primaryLightColor: #310707;
$accentColor: #C78426;
$accentDarkColor: #B73D11;
$accentLightColor: #DEBB30;
$accentTextColor: #FFFFFF;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #DEBB30;

@import '_layout';